---
http_interactions:
- request:
    method: get
    uri: https://api.bestbuy.com/v1/stores(area(80204,25))?apiKey=8zjkc9r7xng9wvqqjayyeya9&format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "from": 1,
          "to": 10,
          "currentPage": 1,
          "total": 16,
          "totalPages": 2,
          "queryTime": "0.007",
          "totalTime": "0.027",
          "partial": false,
          "canonicalUrl": "/v1/stores(area(\"80204\",25))?format=json&apiKey=8zjkc9r7xng9wvqqjayyeya9",
          "stores": [
            {
              "storeId": 1224,
              "storeType": "Big Box",
              "tradeIn": null,
              "name": "BELMAR CO",
              "longName": "BEST BUY - BELMAR",
              "address": "384 S WADSWORTH BLVD",
              "address2": "",
              "city": "LAKEWOOD",
              "region": "CO",
              "fullPostalCode": "80226-3102",
              "country": "US",
              "lat": 39.7097,
              "lng": -105.08095,
              "hours": "Sun: 10-8; Mon: 10-9; Tue: 10-9; Wed: 10-9; Thurs: 10-9; Fri: 10-9; Sat: 10-9; Sun: 10-8; Mon: 10-9; Tue: 10-9; Wed: 10-9; Thurs: 10-9; Fri: 10-9; Sat: 10-9",
              "hoursAmPm": "Sun: 10am-8pm; Mon: 10am-9pm; Tue: 10am-9pm; Wed: 10am-9pm; Thurs: 10am-9pm; Fri: 10am-9pm; Sat: 10am-9pm; Sun: 10am-8pm; Mon: 10am-9pm; Tue: 10am-9pm; Wed: 10am-9pm; Thurs: 10am-9pm; Fri: 10am-9pm; Sat: 10am-9pm",
              "gmtOffset": -7,
              "services": [
                {
                  "service": "Geek Squad Services"
                },
                {
                  "service": "Car and GPS Install Services"
                },
                {
                  "service": "Microsoft Windows Store"
                },
                {
                  "service": "Samsung Entertainment Experience"
                },
                {
                  "service": "Samsung Experience"
                },
                {
                  "service": "Trade-In"
                }
              ],
              "phone": "303-742-8039",
              "postalCode": "80226",
              "distance": 3.66
            },
            {
              "storeId": 2740,
              "storeType": "Mobile SAS",
              "tradeIn": null,
              "name": "CHERRY CREEK MALL",
              "longName": "BEST BUY MOBILE - CHERRY CREEK SHOPPING CENTER",
              "address": "3000 EAST FIRST AVE",
              "address2": "STE 296",
              "city": "DENVER",
              "region": "CO",
              "fullPostalCode": "80206-5637",
              "country": "US",
              "lat"[...]
